body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.note {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.note h3 {
  margin-top: 0;
}

.note p {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='text'],
textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
